[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
djangorestframework-xml = "*"
djangorestframework-csv = "*"
djangorestframework-yaml = "*"
django-filter = "*"
bleach = "*"
redis = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
